html {
    scroll-behavior: smooth;
  }
body {
    background: #7f7f7f;

}
    
/* header */

 #header {
display: flex;
align-items: center;
justify-content: center ;
padding: 20px 80px;

}
#name {
    display: flex;
    align-items: center;
    justify-content: center ; 
}
#name li {
    list-style: none;
    padding: 0px 20px;
}
#canteen-logo {
    top:0;
    right :0;
    position: fixed;
    
    
}
#name li a{
    align-items: center;
    text-decoration:solid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100 px;
    font-weight: 1000;
    color: #D9D9D9;
    transition: 0.3 ease;
    
}
#name li a:hover {
color : #52848B;

}
table, th, td {
    border: 2px;
    

}

.navbar-bg-body-tertiary{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-left: 259px;
    margin-right: 300px;
}
.navbar-nav{

        display: flex;
        margin-right:50px;
        padding:20px;
        justify-content:space-between;
        transition: 0.3 ease;
}
.navbar-nav li{
    padding: 100px,100px;
    list-style: none;
   

}

.horizontal-scroll {
    display: flex;        
    overflow-x: auto;     
    width: 100vw;         
    white-space: nowrap;  
    height: 100rem;
    margin-left: 100px;
    margin-right: 100px;
}
.item-column {
    flex: 0 0 auto;        
    min-width: 25%;       
    margin-right: 10px;   
    display: flex;
    flex-direction: column;
}.item {
    height: 200px;       
    background-color: #ddd;
    text-align: center;    
    line-height: 75px;     
    margin-bottom: 10px;   
}

@media (max-width: 600px) {
    .item-column {
        min-width: 50%;  
    }
}
.add-to-cart{
    display:flex;
    margin-left: 150px;
    height:50px;
    width:100px;
}
.product-image{
    width:100px;
    height:150px;
}
#RFY{
    display: grid;
    justify-items: center;
    justify-content: center;
}
.avbarN{
    display: grid;
    justify-items: center;
    justify-content: center;
}
.navIcons{
    height: 30px;
    display: flex;
    justify-content: center;
}

.navIcons :hover{
    color : #52848B;

}
